:root {
    --bs-sidebar-bg: #1b2a4a;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}



@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
 
}
 